[alias]
	aa = add -A .
	b  = branch
	st = status
	ci = commit
	co = checkout
	cp = cherry-pick
	put = push origin HEAD
	fixup = commit --fixup
	squash = commit --squash
	ri = rebase --interactive
	br = branch
	open = browse
	pruneremote = remote prune origin
	tree = log --graph --oneline --decorate --color --all
	tr = log --graph --oneline --decorate --color
	add-untracked = !"git status --porcelain | awk '/\\?\\?/{ print $2 }' | xargs git add"
	reset-authors = commit --amend --reset-author -CHEAD
	rmbranch = !"git branch -d $(git branch --merged)"
        snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
	pushf = push --force-with-lease
	append = commit --amend -C HEAD
	amend = commit --amend
	pnb = push -u origin HEAD
	lart = for-each-ref --sort=committerdate refs/heads/ --format='%(color: red)%(committerdate:short) %(color: cyan)%(refname:short)'
	sha = rev-parse HEAD
	releases = for-each-ref --sort=authordate --format=\"%(color:white)%(color:bold)%(refname:lstrip=-2)%09%(color:blue)%(authordate:relative)%09%(color:red)%(authorname)\" refs/remotes/origin/release
	conflicted = !nvim +Conflicted
	quickdiff = diff ':!package-lock.json'
	diffs = diff --staged
[branch]
	autosetuprebase = always
[color]
	ui = true
[color "branch"]
	current = green
	local = normal
	remote = red
	plain = normal
[color "status"]
	branch = green
	header = normal dim
	added = red
	updated = blue
	changed = red
	untracked = yellow
	nobranch = red
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[core]
	editor = nvim 
	whitespace = warn
	excludesfile = ~/.gitignore
	pager = delta
	ignorecase = true
[diff]
	algorithm = patience
	compactionHeuristic = true
	colorMoved = default
[delta]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  hunk-header-decoration-style = yellow box
  line-numbers = true
  minus-color = "#340001"
  plus-color = "#012800"
  whitespace-error-style = 22 reverse
[fetch]
	prune = true
[help]
	autocorrect = 10
[include]
	path = ~/.gitconfig.local
[interactive]
	singlekey = true
	diffFilter = delta --color-only
[merge]
	summary = true
	tool = nvim +Conflicted
[merge "bundlelock"]
	name = lock Gemfile
	driver = bundle install
[merge "bundle"]
	name = bundle
	driver = bundle
[mergetool "vim-conflicted"]
	cmd = nvim +Conflicted
[push]
	default = upstream
	followTags = true
[rebase]
	autosquash = true
[rerere]
  enabled = true
  autoupdate = true
[user]
	useconfigonly = true
	name = Tim Tyrrell
	email = tim@tyrrell.io
[web]
	browser = chromium
[commit]
	verbose = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
